Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

In [1]:
import pandas as pd

In [10]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [18]:
def grade(rating):
    if rating <= 2:
        return ('низкий рейтинг')
    elif rating <= 4:
        return ('средний рейтинг')
    elif rating >= 4.5:
        return ('высокий рейтинг')
    
ratings['grade'] = ratings['rating'].apply(grade)
ratings.head()

   userId  movieId  rating   timestamp            grade
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Задание 2 Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [27]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [28]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [70]:
def region (keyword):
    for cities in geo_data.items():
        if keyword in cities[1]:
            return cities[0]
        else:
            return 'undefined'
        
keywords['region'] = keywords['keyword'].apply(region)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

Задание 3 (бонусное)

In [81]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [82]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

В переменную years запишите список из всех годов с 1950 по 2010.

In [98]:
years = list(range(1950, 2011))

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска.

In [97]:
title = 'Father of the Bride Part II (1995)'
for year in years:
    if str(year) in title:
        print(year)

1995

In [99]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return '1900'

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

In [100]:
movies['year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [121]:
mid_rating = ratings.groupby('movieId').mean()['rating'].reset_index()

In [126]:
movie_rating = movies.set_index('movieId').join(mid_rating.set_index('movieId'))

In [127]:
movie_rating.head()

,title,genres,year,rating
movieId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.893708
2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.251527
3,Grumpier Old Men (1995),Comedy|Romance,1995,3.142028
4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,2.853547
5,Father of the Bride Part II (1995),Comedy,1995,3.058434

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [131]:
movie_rating.groupby('year').mean()['rating'].sort_values(ascending=False)

year
1963    3.228859
1961    3.208200
1962    3.194438
1953    3.190671
1950    3.179434
          ...
1991    2.973292
1990    2.955692
1987    2.941741
1989    2.934094
1988    2.908508
Name: rating, Length: 62, dtype: float64