In [1]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [35]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [42]:
rating_5 = ratings[ratings.rating == 5].groupby('movieId').count().sort_values(by = 'rating', ascending=False)
movies[movies.movieId == rating_5.index[0]]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [40]:
data = pd.read_csv('power.csv')

In [60]:
condition_1 = (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')
condition_2 = (data['category']== 4) | (data['category']== 12) | (data['category']== 21)
condition_3 = (data['year'] > 2004) & (data['year'] < 2010)
condition_4 = (data['quantity'] > 0)

In [63]:
data[(condition_1) & (condition_2) & (condition_3) & (condition_4)].quantity.sum()

201719.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [75]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 802,"0,5%",Nasdaq,10 208,"0,5%",Биткойн,9 092,"0,1%",USD/RUB,713745,"1,0%"
1,РТС,1 235,"-1,1%",S&P500,3 130,"0,5%",Нефть,428,"-0,3%",EUR/RUB,802595,"1,1%"
2,Dow,25 827,"0,4%",FTSE100,6 157,"-1,3%",Золото,1 775,"0,1%",EUR/USD,11250,"0,1%"